.how-it-works {
  text-align: center;
  padding: $space-4;
  h2 {
    color: $orange;
    font-size: 50px;
    padding:$space-3;
  }

  &__container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;

    flex-direction:column;
    @include respond-to(992){
      flex-direction:row;
    }
  }

  &__btn {
    background-color: $orange;
    border: none;
    margin-top: $space-4;
    &:hover {
      background-color: $silver;
      border: none;
    }
  }

  .flex-item {
    color: white;
  }
}
