.how-it-works {
  text-align: center;
  padding: $space-4;
  h2 {
    color: $orange;
    font-size:responsive 50px 58px;
    // font-range: 320px 1920px;
    padding:$space-3;
  }

  &__container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction:column;
    max-width: 500px;
    text-align: center;
    margin: auto;
    @include respond-to(992){
      flex-direction:row;
      max-width: none;
    }
  }

  &__btn {
    background-color: $orange;
    border: none;
    margin-top: $space-4;
    &:hover {
      background-color: $silver;
      border: none;
    }
  }

  .flex-item {
    color: white;
  }
}
