.how-it-works {
  text-align: center;
  padding: $space-4;

  &__container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;

    flex-direction:column;
    @include respond-to(992){
      flex-direction:row;
    }
  }

  .flex-item {
    color: white;
  }
}
