.panel{
  padding-top: $space-2;
  span {
    color: $blue;
    font-size: responsive 30px 40px;
    font-range: 420px 1280;
  }
  &__img {
    padding: 25px;
  }
  &__body {
    padding: 0 $space-2 ;
    p {
      color: $silver;
      padding: 0 10px;
    }
  }
  &__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    h4 {
      color: $blue;
    }
  }
  &__number {
    width: 40px;
    height: 40px;
    background:$blue;
    color: $white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    display: none;
    @include respond-to (992)
    {
      display:flex;
    }
  }

}
