.panel{
  &__img {
    padding: 25px;
  }
  &__body {
    padding: 0 $space-2 ;
  }
  &__heading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__number {
    width: 40px;
    height: 40px;
    background:$blue;
    color: $white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
