.panel{
  padding-top: $space-2;
  span {
    color:$red;
    font-size: responsive 30px 40px;
    font-range: 420px 1280;
  }
  &__img {
    padding: 25px;
  }
  &__body {
    padding: 0 $space-2 ;
    p {
      color: $silver;
      padding: 0 10px;
    }
  }
  &__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    h4 {
      color: $red;
    }
  }

}
